__pycache__/
*.pem
*.key
*.crt
*.vim

github
github.pub

provisioner/cache/**

**/node_modules/

config-management/

built/
coverage/

# written by the remote-config cache; may contain credentials
*.cache.json

config/*
!config/cutie.conf.json
!config/cutie.service
!config/cutie.journald.conf
