__pycache__/
*.pem
*.key
*.crt
*.vim

github
github.pub

provisioner/cache/**
# holds a wifi password; copy from config.example.json
provisioner/config.json
provisioner/authorized_keys
provisioner/cutie.conf.*.json

**/node_modules/

config-management/

built/
coverage/

# written by the remote-config cache; may contain credentials
*.cache.json

config/*
!config/cutie.conf.json
!config/cutie.service
!config/cutie.journald.conf
